.App {
  position: relative;
  height: 100vh;
  background: linear-gradient(45deg, #6497b1, #b3cde0) no-repeat;

  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
